<!DOCTYPE html>
<html>
<head>
	<title>Javascript AJAX Requests</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script language="JavaScript">

        var prof; //stores the user's search term
        var json; //stores the json data from user's request
        var addr_dict = new Object(); //stores mapping of professor-->address
        var coord_dict = new Object(); //stores mapping of professor-->{x: lat, y: lon}

        //makes a local request to /search/?term=query and returns the response contents
        function getResponse(query) {

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/search/?term=" + query, false);
            xmlhttp.send();
            response = xmlhttp.responseText;
            return response;

        }

        //tracks textbox usage, called every time text box changes
        //fills up professor-->address dictionary (addr_dict)
		function getString(str) {
            prof = str; //for global storage of the user's input
            if(prof.length >= 5) {
                $.getJSON("http://localhost:8000/search/?term=" + prof, function(data) {
                    console.log(data); // use data as a generic object
                    for(var key in data) {
                        console.log(key); //grab all of the names
                        console.log(data[key]["address"]);
                        addr_dict[key] = data[key]["address"];
                    }
                });
                
            }
		}

        //json --> dictionary
        /*$.getJSON("http://localhost:8000/search/?term=ishan", function(data) {
            console.log(data); // use data as a generic object
            console.log(data["Ishan C. Williams"]["address"]);
            for(var key in data) {

                console.log(key); //grab all of the names
                console.log(data[key]["address"]);
                dict[key] = data[key]["address"];


            }

        });*/

	</script>
</head>
<body>
	Enter a string.
	<!--<input type="text" name="userInput" value="">
	<input type="button" name="submit" value="Click" onClick="processForm(this.form)">-->
	<input id="professor" value="" onchange="getString(this.value);"
onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/>

    <!-- Testing Javascript requests
      -- <input type="button" name="submit" value="Request" onClick="printResponse()">
      -->

</body>
</html>