<!DOCTYPE html>
<html>
<head>
	<title>Javascript AJAX Requests</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100%;
	  background: url(http://bloximages.newyork1.vip.townnews.com/timesdispatch.com/content/tncms/assets/v3/editorial/7/30/7309fb3c-4b0e-53f3-89c9-63eb31d76268/50f87a4e1c6e5.image.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  }
      body { height: 100%; margin: 0; padding: 0; }
	  div#container {height: 100%; text-align: center; float:top;}
	  div#title{ font-size:25px;}
	  input#professor { height:50px; width: 55%; font-size:25px; border:2px solid; border-radius:5px; }
      div#map-canvas { height: 65%; width: 50%; border:2px solid; border-radius:25px; margin-left:25%; margin-top:50px;}

    </style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKQHcshXFHbzDF1MDXA3DAgUM9SWCulRA&sensor=true">
    </script>
	<script language="JavaScript">


        /** maps code **/
      var map;
      var markers = [];

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(38.033499, -78.508964),
          zoom: 16
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

		//var marker = new google.maps.Marker({
		//	position: new google.maps.LatLng(38.031628, -78.510946),
		//	title:"Hello World!"
		//});
		//marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      function setMarker(lat, lng, name) {
          var marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat, lng),
			title: name,
			map: map
		  });
          markers.push(marker);
      }
      function deleteMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
      }



        /** user input **/
        var prof; //stores the user's search term
        var json; //stores the json data from user's request
        var addr_dict; //stores mapping of professor-->address
        var coord_dict; //stores mapping of professor-->{x: lat, y: lon}

        var lookUpTable = {
           "Rice Hall": [38.031604, -78.510867],
           "Small Hall": [38.032116, -78.511306],
           "Olsson Hall": [38.032040, -78.510609],
           "Mechanical Engineering Building": [38.032649, -78.511124],
           "Thornton Hall": [38.033236, -78.509745],
           "Materials Science": [38.033194, -78.510931],
           "Chemical Engineering": [38.033452, -78.510759],
           "Wilsdorf Hall": [38.033325, -78.511226],
           "Chemistry": [38.033540, -78.511719],
           "Gilmer Hall": [38.034149, -78.512859],
           "Physics Building": [38.034179, -78.510215],
           "Astronomy": [38.035636, -78.515412],
           "Ruffner Hall": [38.034631, -78.509368],
           "Bavaro Hall": [38.034661, -78.508832],
           "Clark Hall": [38.032871, -78.508014],
           "Halsey Hall": [38.033002, -78.506989],
           "Kerchof Hall": [38.032334, -78.508164],
           "Maury Hall": [38.033354, -78.506826],
           "Minor Hall": [38.033747, -78.506539],
           "Bryan Hall": [38.033270, -78.505941],
           "Cocke Hall": [38.033509, -78.505176],
           "Garrett Hall": [38.034111, -78.505452],
           "Old Cabell Hall": [38.032761, -78.504904],
           "New Cabell Hall": [38.032541, -78.505019],
           "Cabell Hall": [38.032541, -78.505019],
           "Nau Hall": [38.031734, -78.505048],
           "Gibson Hall": [38.031322, -78.505102],
           "Rouss and Robertson Hall": [38.032792, -78.503691],
           "Wilson Hall": [38.032439, -78.503949],
           "Randall Hall": [38.033291, -78.503311],
           "Levering Hall": [38.033623, -78.502978],
           "Monroe Hall": [38.034751, -78.506264],
           "Brooks Hall": [38.035770, -78.502108],
           "Cobb Hall": [38.032442, -78.503028],
           "Varsity Hall": [38.032976, -78.502921],
           "McKim Hall": [38.032681, -78.502003],
           "McLeod Hall": [38.030832, -78.501714],
           "Jordan Hall": [38.032119, -78.500351],
           "Fayerweather Hall": [38.037983, -78.503005],
           "Ruffin Hall": [38.039373, -78.503091],
           "Campbell Hall": [38.038848, -78.503492],
           "Stone Hall": [38.037051, -78.517936],
           "Shelburne Hall": [38.038141, -78.519267],
           "Alumni Hall": [38.038217, -78.508039]
       }

        //makes a local request to /search/?term=query and returns the response contents
        function getResponse(query) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/search/?term=" + query, false);
            xmlhttp.send();
            response = xmlhttp.responseText;
            return response;
        }

        //tracks textbox usage, called every time text box changes
        //fills up professor-->address dictionary (addr_dict)
		function getString(str) {
            deleteMarkers();
            prof = str; //for global storage of the user's input
            addr_dict = new Object();
            coord_dict = new Object();
            if(prof.length >= 5) {
                $.getJSON("http://localhost:8000/search/?term=" + prof, function(data) {
                    //console.log(data); // use data as a generic object
                    for(var key in data) {
                        console.log(key); //grab all of the names
                        console.log(data[key]["address"]);
                        addr_dict[key] = data[key]["address"];
                    }

                    mapCoordinates();
                    drawMarkers();

                    //Check if coord_dict is populated correctly
                    /*for (var profs in coord_dict) {
                        console.log(profs + " -> " + coord_dict[profs]);
                    }*/

                });
            }
		}

        //draw professor markers on the map
        function drawMarkers() {
            for(var prof in coord_dict) {

                var lat = coord_dict[prof][0];
                var lon = coord_dict[prof][1];
                //console.log(coord_dict[prof][0] + " " + coord_dict[prof][1]);

                setMarker(lat, lon, prof);

            }


        }



        function mapCoordinates() {

            for (var prof in addr_dict) {
                        var address = addr_dict[prof];
                        var altAddr = address || "No location";
                        for(var building in lookUpTable){
                            var n = altAddr.search(building);
                            if (n != -1) {
                                coord_dict[prof] = lookUpTable[building];
                            }
                        }
                    }

        }

	</script>
</head>
<body>
	<div id="container"/>
		<div id="title">
			<h1>University of Virginia Faculty Search</h1>
		</div>
		<form method="search">
			<div id="textfield">
				<input id="professor" value="" onchange="getString(this.value);"
			        onpaste="this.onchange();" oninput="this.onchange();" placeholder="Search for a professor by last name, first name, or computing ID">
			</div>
		</form>

		<div id="map-canvas"/>

	</div>


</body>
</html>